body {
  margin: 0 !important;
  padding: 0 !important;
  height: auto;
  box-sizing: border-box !important;
}
.main-page-prod {
  background: linear-gradient(
    0deg,
    rgba(188, 227, 244, 1) 0%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}
.search-div {
  width: 60%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  max-width: 700px;
}
.dropdown-button {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #f3f3f3 !important;
  color: #5e6868 !important;
  outline: none !important;
  border: none !important;
  height: 40px !important;
}
.dropdown-button:hover {
  background-color: #e1e4e4 !important;
}
.user-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  border: 1px solid #131921;
}
.dropdown-button,
.user-dropdown:focus {
  outline: 0 !important;
  border: none !important;
}

.user-dropdown {
  background: transparent !important;
  font-size: 12px !important;
  outline: none !important;
  border: none !important;
}
.user-name {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.basket-icon {
  font-size: 40px;
}
.basket-div {
  position: relative;
  padding: 7px;
}
.item-count {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 50%;
  color: #ff9900;
  font-weight: 600;
  font-size: 18px;
}
.logo-div {
  padding: 10px;
  border: 1px solid #131921;
}
.basket-text > span {
  font-weight: 800;
}
.basket-div:hover {
  border: 1px solid white;
}
.user-div:hover {
  border: 1px solid white;
}
.logo-div:hover {
  border: 1px solid white;
}
.drop-link:focus {
  outline: none !important;
  border: none !important;
  background-color: white !important;
  color: black !important;
}
.custom-carousel {
  height: 280px !important;
}
.carousel-inner,
.carousel .slide,
.carousel-item {
  height: 100% !important;
}
.carousel-item > img {
  height: 100% !important;
}
.bottom-div {
  background-color: #232f3e !important;
  height: auto !important;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}
.navigation-menu {
  height: auto;
  position: relative;
  width: 20rem;
  background-color: #f3f3f3;
  display: inline-block;
}
.navigation-menu > li {
  list-style: none;
  margin: 15px auto;
  color: #131921;
  font-weight: 600;
}
.side-menu {
  height: 100%;
  position: fixed;
  width: 20rem;
  background-color: #f3f3f3;
  transform: translate(-20rem);
  z-index: 9999;
  left: 0;
  transition: all 1s ease-in-out;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 3px solid #232f3e;
  border-right: 3px solid #232f3e;
  border-bottom: 3px solid #232f3e;
}
.side-menu-header {
  background-color: #314157;
  color: white;
  height: 35px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
}
.side-menu-header > p {
  margin: 0 0 0 40px;
  font-weight: 600;
  font-size: 18px;
}
.side-menu-open {
  padding: 20px;
  height: 100%;
  position: fixed;
  width: 20rem;
  background-color: #f3f3f3;
  transform: translate(0);
  z-index: 9999;
  left: 0;
  transition: all 1s ease-in-out;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 3px solid #ff9900;
  border-right: 3px solid #ff9900;
  border-bottom: 3px solid #ff9900;
}
.side-menu-open > li {
  list-style: none;
  margin: 15px auto;
  color: #131921;
  font-weight: 600;
}
li > h3 {
  text-decoration: underline;
  width: 100%;
}
.side-menu > li {
  list-style: none;
  margin: 15px auto;
  color: #131921;
  font-weight: 600;
}
.side-menu-btn {
  background: transparent;
  outline: 0;
  border: 0;
}
.side-menu-btn > svg {
  vertical-align: baseline;
}
.bottom-div > li {
  display: inline-block;
  margin: 5px 20px;
  border: 1px solid #232f3e;
  padding: 0 5px;
  text-decoration: none;
  list-style: none;
}
.bottom-div > li > a {
  color: #cde4e4;
  font-weight: 700;
}
.bottom-div > li > a:hover {
  color: #e1e4e4;
  text-decoration: none;
  font-weight: 700;
}
.bottom-div > li:hover {
  border: 1px solid white;
  border-radius: 4px;
}
.prime-div {
  border: 1px solid #232f3e;
  padding: 0;
  height: 100%;
}
/* .prime-img {
  height: 100%;
  width: 100%;
} */
.prime-div:hover {
  border: 1px solid white;
}
.close-side-menu-btn {
  padding: 0;
  background: transparent;
  position: absolute;
  right: 0px;
  top: -5px;
  outline: 0;
  border: 0;
}
.carousel.slide {
  height: 450px !important;
}
.carousel-item > img {
  width: 100%;
  object-fit: cover;
}
.carousel-caption {
  color: #314157 !important;
}
.carousel-indicators > li {
  background-color: #314157 !important;
}
.footer-list-item {
  color: white;
  text-decoration: underline;
  list-style: none;
  font-weight: 600;
  font-size: 13px;
  margin: 20px 0;
}
.footer-list-title {
  color: #f3f3f3;
}
.footer-top-div {
  padding: 30px 30px 0px 30px;
  height: 400px;
}
.footer-bottom-div {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 30px 30px 0px 30px;
  border-top: 3px solid #5e6868;
}
.footer-img-div {
  width: 120px;
  display: block;
  margin: 0 auto;
}
.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}
.footer-text > small {
  color: wheat;
}
.user-drop-menu {
  width: 350px !important;
  font-size: 12px !important;
}
.add-list-link {
  background-color: #eceef1 !important;
}

.add-list-btn {
  background-color: #eceef1 !important;
  color: black !important;
  font-weight: 600 !important;
  transition: all 0.5s ease-in-out;
}
.add-list-btn:hover {
  background-color: #d1dbeb !important;
  color: #5e6868;
  font-weight: 600;
}
.product-img-div {
  width: 260px;
  height: 200px;
}
.div-link-main-page {
  color: transparent;
  background-color: transparent;
}
.div-link-main-page:hover {
  color: transparent;
  background-color: transparent;
  text-decoration: none;
}
.add-list-btn::after {
  float: right !important;
}
.basket-icon-premier {
  position: absolute;
  left: 10px;
}
.side-menu-link {
  color: #232f3e;
  text-align: center;
}
.side-menu-link:hover {
  color: #232f3e;
  text-decoration: underline;
}
.price,
.brand {
  font-size: 20px;
  color: #232f3e;
  font-weight: 600;
  margin: 10px 0px;
}
.offering-div {
  border: 1px solid grey;
  padding: 15px 15px;
}
.offering-title {
  color: #232f3e;
  text-align: left;
  font-weight: 600;
}
.offering-item {
  width: 100%;
  height: 200px;
  background-color: #eaeded !important;
  margin: 10px 0;
}
.offering-img-div {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: inline-block;

  float: left;
}
.offering-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.offering-text-div {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: inline-block;
  position: relative;
}
.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.all-delete-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.offering-text {
  color: #232f3e;
  font-weight: 600;
}
.basket-item-div {
  width: 100%;
  background-color: #eaeded;
  padding: 10px;
}
.basket-offering-div {
  position: relative;
  width: 100%;
  background-color: #eaeded;
  padding: 10px;
}
.basket-offering-item {
  width: 100%;
  height: 200px;
  background-color: white;
}
.customer-icons {
  width: 45px;
  position: absolute;
  left: 0;
}
.customer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
}
.customer-form > textarea {
  margin-top: 40px;
  padding: 15px;
}
.electronics-page-product {
  text-align: left !important;
}
.electronic-product {
  max-width: 280px !important;
}
.electronic-product > .product-img-div {
  width: 200px;
  margin: 0 auto;
}
.opportunty-div {
  width: 100px;
  height: 100px;
  margin: 0 5px;
  display: inline-block;
  position: relative;
}
.opportunty-div:hover {
  cursor: pointer;
}
.opportunty-div:hover > img {
  opacity: 0.6;
}
.opportunty-div > img {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
}
.opportunty-div > small {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #232f3e;
  font-weight: 600;
}
.item-div-main-page {
  margin: 0.5rem 0.5rem !important;
}
.user-img-div {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
  margin: 0 20px 0 0;
}
.hero-container {
  background: url("./images/prime-hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  font-family: "Amazon Ember", Tahoma, Arial, sans-serif;
}
.hero-top-title {
  background-color: white;
  width: 100%;
  height: 50px;
  font-family: "Amazon Ember", Tahoma, Arial, sans-serif;
}
.hero-top-title > h5 {
  line-height: 2;
  color: #555;
  margin: 0 !important;
}
.hero-text-div {
  width: 500px;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hero-center-text-div {
  width: 500px;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  display: block;
  margin: 0 auto;
  font-family: "Amazon Ember", Tahoma, Arial, sans-serif;
  text-align: left;
}
.hero-center-text-div > p {
  line-height: 1.8;
}
.hero-center-div {
  height: 300px;
  display: inline-block;
  margin: 0 auto;
}
.hero-center-container {
  margin: 0 auto;
  display: block;
  max-width: 1000px;
  width: 100%;
  text-align: center;
}
.cargo-text-div {
  width: 500px;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-text,
.hero-small {
  line-height: 1.6;
  color: #000;
}
.hero-small {
  margin-top: 20px;
}
.hero-text {
  font-size: 18px;
}
.hero-button {
  background-color: #ff9900;
  color: #284d40;
  outline: none;
  border: 1px solid #ff6138;
  border-radius: 4px;
  width: 350px;
  height: 50px;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
}
.cargo-container {
  background: url("./images/cargo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  font-family: "Amazon Ember", Tahoma, Arial, sans-serif;
}
.special-container {
  background: url("./images/special.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  font-family: "Amazon Ember", Tahoma, Arial, sans-serif;
}
.payment-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.payment-container {
  height: auto;
}
.payment-warning {
  width: 100%;
  border: 1px solid #8c6e00;
  padding: 5px 30px;
  font-family: "Amazon Ember", Arial, sans-serif !important;
  margin: 1rem 0;
}
.hover-content {
  color: #314157;
  position: absolute;
  font-weight: 600;
  left: 0;
  right: 0;
  bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.product-hover {
  color: #131921;
  float: right;
  font-weight: 600;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 940px) {
  .basket-div > .asd {
    display: flex !important;
    flex-direction: column !important;
  }
}
@media screen and (max-width: 690px) {
  .bottom-div > li {
    display: inline-block;
    margin: 5px 0;
    border: 1px solid #232f3e;
    padding: 0 5px;
    text-decoration: none;
    list-style: none;
    font-size: 10px;
  }
  .search-div {
    display: none !important;
  }
  .footer-top-div{
    height: 800px !important;
  }
}
.right-btn {
  position: absolute;
  right: 0;
  height: 100px;
  padding: 10px;
  outline: none;
  background-color: #e2ecec;
  border-radius: 4px;
}
.left-btn {
  position: absolute;
  left: 0;
  height: 100px;
  padding: 10px;
  outline: none;
  background-color: #e2ecec;
  border-radius: 4px;
}
.scrool-top-btn{
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  background-color: #232f3e;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px 8px;
  transition: all .5s ease-in-out;
}
.scrool-top-btn:hover {
  background-color: #dfb008;
  color: #232f3e;
}